html,
body{
font-size: 25;
font-family: 'Courier New', Courier, monospace;
}

div{
    width: 20rem;
    height: 15rem;
    border: 10px solid blueviolet;
    margin: 10rem auto;
    background-color:aliceblue;
    padding: 5rem;

}

label{
    color:blue;
    background-color: aquamarine;
    padding: 0.1rem;
    text-decoration: none;
    border-radius: 15px;
}